@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@400;500&display=swap');

:root {
    --font-color: #0E2430;
    --bg-color: #ed4558;
    --icon-color: #f8bf64;
    --container-color: #efe5d5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    line-height: 1.5;
    word-break: break-word;
}

body, .container, .write-list, .groceries {
    display: flex;
}

body, .write-list {
    justify-content: center;
}

body, .container, .write-list, .groceries {
    align-items: center;
}

body, .container, .groceries {
    flex-direction: column;
}

h1 {
    font-family: 'Caprasimo', cursive;
    margin: 1.5rem 0 0.5rem;
    font-size: 5vw;
    text-align: center;
}

#pencil {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1rem;
    cursor: default;
}

li::before {
    content: "★";
    color: var(--icon-color);
    margin: 0 0.5rem;
}

input {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--font-color);
    padding: 0.2rem;
}

input, .groceries {
    font-family: "Inter", sans-serif;
}

.groceries {
    padding: 1.5rem 3rem;
    align-items: center;
}

.container {
    min-width: 50%;
    max-width: 70%;
    min-height: 80vh;
    background-color: var(--container-color);
    border-radius: 2rem;
    box-shadow: 0px 5px 12px 1px rgba(0, 0, 0, 0.181);
}

.credit {
    margin: 0.75rem 0;
    font-size: 0.65rem;
    color: var(--container-color);
}

@media screen and (max-width: 632px) {
    h1 {
        font-size: 2.3rem;
        margin: 1.5rem 0;
    }

    input {
        width: 90%;
    }
}

@media screen and (max-width: 548px) {
    h1 {
        margin: 2rem 2rem 1rem;
        line-height: 1;
    }
}

@media screen and (max-width: 378px) {
    h1 {
        font-size: 1.75rem;
    }

    input {
        width: 60%;
    }

    .groceries {
        padding: 1.5rem 0.5rem;
    }
}

@media screen and (max-width: 280px) {
    h1 {
        font-size: 1.5rem;
    }

    .groceries {
        padding: 1.5rem 1rem;
    }
}